:root{
    --color-orange: #FFA500;
    --color-yellow:#FFFF00;
    --color-pink:#FFC0CB;
    --color-main:#121212;
    --color-second:#FFFFFF;
    --font-main: sans-serif; 
}

body{
    background-color: var(--color-main);
}


/*MOBILE CSS*/
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: var(--color-main);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: var(--color-second);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    
    color: white;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    
    color: white;
  }

  /* Style for Secondary Headers */
  .secondaryHeaders {
    background-color: var(--color-main);
    color: white;
    filter: invert();
    text-align: center;
  }